.feed-container::-webkit-scrollbar {
  display: none;
}
.feed-container {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  border: 1px solid grey;
  background-color: #65ccb8;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#header {
  display: flex;
  font-size: 2rem;
  min-height: 50px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid grey;
  font-weight: 600;
}
#header > span {
  margin-left: 10px;
}
