.live-feed {
  display: flex;
  position: relative;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
}
.live-feed > form {
  width: 100%;
  margin: 10px;
  flex-direction: column;
}
.profilePicture {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
.user-info {
  display: flex;
  width: 100%;
}
#username {
  font-weight: 600;
}
#userid {
  margin-left: 5px;
  color: #f2f2f2;
}
#tweet {
  width: 100%;
}
.read-button {
  display: flex;
  background-color: #3b945e;
  border: none;
  color: white;
  font-weight: 700;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  margin-left: auto;
  margin-top: 10px;
}
